<section id="equipo">
    <div class="persona">
         <img src="../../../assets/img/perfil1.png" alt="" class="persona-imagen">
         <div class="persona-info">
              <h2>Jesús Alonso</h2>
              <p>Chef Pizzero</p>
              <div class="social-media">
                   <a href=""><span class="fab fa-facebook"></span></a>
                   <a href=""><span class="fab fa-instagram"></span></a>
                   <a href=""><span class="fab fa-twitter"></span></a>
                   <a href=""><span class="fab fa-linkedin-in"></span></a>
              </div>

         </div>
    </div>

    <div class="persona">
         <img src="../../../assets/img/perfil2.png" alt="" class="persona-imagen">
         <div class="persona-info">
              <h2>Eliza Smith</h2>
              <p>Chef</p>
              <div class="social-media">
                   <a href=""><span class="fab fa-facebook"></span></a>
                   <a href=""><span class="fab fa-instagram"></span></a>
                   <a href=""><span class="fab fa-twitter"></span></a>
                   <a href=""><span class="fab fa-linkedin-in"></span></a>
              </div>

         </div>
    </div>

    <div class="persona">
         <img src="../../../assets/img/perfil3.png" alt="" class="persona-imagen">
         <div class="persona-info">
              <h2>Henry Griffith</h2>
              <p>Asistente Chef</p>
              <div class="social-media">
                   <a href=""><span class="fab fa-facebook"></span></a>
                   <a href=""><span class="fab fa-instagram"></span></a>
                   <a href=""><span class="fab fa-twitter"></span></a>
                   <a href=""><span class="fab fa-linkedin-in"></span></a>
              </div>

         </div>
    </div>

    <div class="persona">
         <img src="../../../assets/img/perfil4.png" alt="" class="persona-imagen">
         <div class="persona-info">
              <h2>Paulina Vega</h2>
              <p>Asistente</p>
              <div class="social-media">
                   <a href=""><span class="fab fa-facebook"></span></a>
                   <a href=""><span class="fab fa-instagram"></span></a>
                   <a href=""><span class="fab fa-twitter"></span></a>
                   <a href=""><span class="fab fa-linkedin-in"></span></a>
              </div>

         </div>
    </div>
</section>