<section id="menu-productos">
     <div class="contenedor-principal">
          <button id="btnizquierda" #btnizquierda><span class="fas fa-angle-left"></span></button>

          <div class="slider" #slider>
               <div class="container-productos">
                   <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Peperonni</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                        <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                   </div>

                   <div class="imagen-productos">
                        <img src="../../../assets/img/menu/peperoni.png" alt="">
                   </div>
              </div>

              <div class="container-productos">
                   <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Especial</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                        <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                   </div>

                   <div class="imagen-productos">
                        <img src="../../../assets/img/menu/especial.png" alt="">
                   </div>

              </div>

              <div class="container-productos">
                   <div class="descripcion-productos">
                        <h2>Producto <b>básico</b></h2>
                        <h1>Margarita</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                        <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                   </div>

                   <div class="imagen-productos">
                        <img src="../../../assets/img/menu/margarita.png" alt="">
                   </div>

              </div>

              <div class="container-productos">
                   <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Americana</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                        <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                   </div>

                   <div class="imagen-productos">
                    <img src="../../../assets/img/menu/americana.png" alt="">
               </div>



              </div>

              <div class="container-productos">
                   <div class="descripcion-productos">
                        <h2>Producto <b>especial</b></h2>
                        <h1>Suprema</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                        <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                   </div>

                   <div class="imagen-productos">
                        <img src="../../../assets/img/menu/suprema.png" alt="">
                   </div>



              </div>


         </div>

         <button id="btnderecha" #btnderecha><span class="fas fa-angle-right"></span></button>
    </div>
</section>


