     <!-- MENU PRINCIPAL -->
     <div class="menu-principal">
        <div class="logo" id="logo" (click)="scrollToTop()">
             <img src="../../../assets/img/logo.png" alt="Logo">
        </div>

        <div class="menu-bar" #menuBar>
             <i class="fas fa-angle-right" #btnMenuClose></i>

             <nav class="enlaces" #enlaces>
                  <ul>
                       <li><a href="#productos">Productos</a></li> 
                       <li><a href="#servicios">Servicios</a></li>
                       <li><a href="#equipo">Equipo</a></li> 
                       <li><a href="#ingredientes">Ingredientes</a></li> 
                       <li><a href="#contacto">Contacto</a></li> 
                         <!-- <li><a routerLink="servicios">Equipo</a></li> 
                         <li ><a routerLink="/servicios">Servicios</a></li>
                         <li ><a routerLink="/equipo">Equipo</a></li>
                         <li ><a routerLink="/ingredientes">ingredientes</a></li>
                         <li ><a routerLink="/contactanos">Contacto</a></li>
                         <a routerLink="/servicios">Equipo</a> -->

                  </ul>
             </nav>

             <div class="sociales">
               <a href="#"><span class="fab fa-facebook"></span></a>
               <a href="#"><span class="fab fa-instagram"></span></a>
               <a href="#"><span class="fab fa-twitter"></span></a>
               <a href="#"><span class="fab fa-youtube"></span></a>
             </div>
        </div>
        <i class="fas fa-bars" #btnMenuOpen></i>
   </div>