<section id="servicios">
    <div class="servicios-titulos">
         <h2 class="subtitulos">La mejor pizza del mundo</h2>
         <h1 class="titulos">Bienvenidos a World Pizza</h1>
    </div>

    <div class="servicios-container">
         <div class="imagen-central">
              <img src="../../../assets/img/mitad-mitad.png" alt="">
         </div>

         <div class="items calidad">
              <p><span class="fas fa-pizza-slice"></span></p>
              <p class="titulo-item">Calidad</p>
              <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
         </div>

         <div class="items ingredientes">
              <p><span class="fas fa-cheese"></span></p>
              <p class="titulo-item">Ingredientes</p>
              <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
         </div>

         <div class="items rapidez">
              <p><span class="fas fa-clock"></span></p>
              <p class="titulo-item">Rápidez</p>
              <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
         </div>

         <div class="items delivery">
              <p><span class="fas fa-shipping-fast"></span></p>
              <p class="titulo-item">Delivery</p>
              <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
         </div>




    </div>

</section>