<section id="ingredientes">
    <div class="ingre">
         <img src="../../../assets/img/ingredientes1.jpg" alt="" class="imagen-ingre">
         <div class="info-ingre">
              <p><span class="fas fa-cheese"></span></p>
              <p class="txt-ingre">Quesos</p>
         </div>
    </div>

    <div class="ingre">
         <img src="../../../assets/img/ingredientes2.jpg" alt="" class="imagen-ingre">
         <div class="info-ingre">
              <p><span class="fas fa-leaf"></span></p>
              <p class="txt-ingre">Vegetales</p>
         </div>
    </div>

    <div class="ingre">
         <img src="../../../assets/img/ingredientes3.jpg" alt="" class="imagen-ingre">
         <div class="info-ingre">
              <p><span class="fas fa-fill-drip"></span></p>
              <p class="txt-ingre">Salsa</p>
         </div>
    </div>

    <div class="ingre">
         <img src="../../../assets/img/ingredientes4.jpg" alt="" class="imagen-ingre">
         <div class="info-ingre">
              <p><span class="fas fa-drumstick-bite"></span></p>
              <p class="txt-ingre">Carne</p>
         </div>
    </div>
</section>